<!--公共左邊導航-->

<a href="/admin/product" class="list-group-item active">商品管理</a>

<a href="/admin/product" class="list-group-item">商品列表</a>

<a href="/admin/product/add" class="list-group-item">增加商品</a>

<a href="/admin/user" class="list-group-item active">帳號管理</a>

<a href="/admin/user" class="list-group-item">帳號列表</a>

<a href="/admin/user/add" class="list-group-item">增加帳號</a>
